* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --bitcoin-o: #F7931A;
    --soft-o: #FFE9D5;
    --second-blue: #1A9AF7;
    --soft-b:  #E7F5FF;
    --w-black: #201E1C;
    --w1-black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}


body {
    /**width: 35.5rem;**/
    margin: auto; 
    background-color: #BABABA;
}

.banner {
    width: 100%;
    height: 95rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    margin: auto;
}

.logo {
    width: 55rem;
    height: 30rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.bat {
    width: 15rem;
    height: auto;
    margin: auto;
}

h1 {
    font-size: 8rem;
    color: var(--bitcoin-o);
    margin: 10rem 0rem 0rem 0.2rem;
}
h2{
    font-size: 7rem;
    margin: auto;
    text-align: center;
    padding: 0rem 10rem 0rem 10rem;
    color: var(--off-white);
}

h3{
    font-size: 4rem;
    margin: auto;
    text-align: center;
    padding: 6rem;
    color: var(--soft-o);
}

.graph {
    width: 100%;
    height: 140rem;
    background-color: var(--off-white);
    padding: 3rem;
    text-align: center;
}
.gr {
    padding: 7rem;
}
.gr img{
    width: 65rem;
    margin-top: 10rem;
}

h4 {
    font-size: 8rem;
    color: var(--w-black);
    margin: 1rem 0rem 0rem 0.2rem;
}
h5 {
    font-size: 4rem;
    color: var(--gray);
    margin: 5rem 1rem 0rem 1rem;
}

.chart-contain {
    width: 100%;
    height: 20rem;
    background-color: var(--off-white);
}

.carrousel {
    background-color: var(--off-white);
    padding: 3rem;
}
.coins, .comissions{
    width: 60rem;
    height: 60rem;
    background-color: var(--just-white);
    border-radius: 3rem;
    margin: 3rem 0rem 0rem 15rem;
    padding: 3rem;
}
.coins caption{
    color:var(--bitcoin-o);
    font-size: 5.5rem;
    text-align: left;
    margin: 0rem 0rem 3rem 6rem;
}
.coins th, .comissions th{
    font-size: 5rem;
    text-align:left;
    color:var(--gray);
    border: 0.1rem, var(--off-white);
}
.th2{
    font-size: 5rem;
    text-align:left;
    color:var(--w-black);
    border: 0.1rem, var(--off-white);
}

.comissions caption{
    color:var(--second-blue);
    font-size: 5.5rem;
    text-align: left;
    margin: 0rem 0rem 3rem 6rem;
}

.updt{
    width: 50rem;
    height: 8rem;
    background-color: var(--soft-o);
    border-radius: 2rem;
    margin: auto;
    padding: 2rem 2.5rem 0rem 2.5rem;
}
.updt h5{
    font-size: 3.5rem;
    margin: 0rem;
    color: var(--w-black);
}
.updt span{
    font-size: 3.5rem;
    margin: 0rem 0rem 0rem 3rem;
}

.data-p {
    width: 100%;
    height: 290rem;
    background-color: var(--w-black);
    padding: 3rem;
}

.text h4{
    color:var(--just-white);
    text-align: center;
    margin: 15rem 1rem 0rem 1rem;
}
.text h5{
    color: var(--gray);
    text-align: center;
}

.ch{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.ch-d{
    width: 90rem;
    height: 50rem;
    padding: 4rem;
    background-color: var(--w1-black);
    margin:auto;
    margin-bottom: 5em;
    border-radius: 1rem;
}

.ch-d img{
    width: 10rem;
    color: var(--bitcoin-o);
    margin: 1rem;
}
.ch-d h6{
    color: var(--off-white);
    font-size: 5.5rem;
    margin: 2rem;
}
.ch-d p{
    font-size: 4rem;
    color: var(--gray);
    margin: 2rem;
}

.pic{
    height: 120rem;
    background-image: url(../img/bitcoinbaby\ 1.png);
    background-size: cover;
    padding: 5rem;
    text-align: center;
}
.pic h4{
    color: var(--off-white);
    margin-top: 12rem;
}



footer{
    width: 100%;
    height: 50em;
    background-color: var(--bitcoin-o);
    padding: 3em;
    display: flex;
    flex-direction: row;
}
.info {
    width: 40em;
    height: 40em;
    margin: auto;
    padding: 5em 0em 0em 5em;
    display: flex;
    flex-direction: column;
}
.info p{
    font-size: 5em;
    color: var(--just-white);
    margin: 0.5em 0em 0em 2em;
}
.info img{
    width: 15em;
    margin: 5.5em 0em 0.5em 4.5em;
}
.name {
    font-size: 2.5em;
    color: var(--just-white);
    margin: 1.5em 0em 0em 1em;
}
